
mat-list-item:not(:first-of-type) {
  border-top: 1px solid #efefef;
}

.symbol {
  color: #777;
}

.mat-icon-button {
  width: 100px;
  border-radius: 0%;
  background-color: lightgray;
  margin-left: 15px;
}

mat-card {
  padding: 0;
}

.user-grid {
  box-shadow: 0 0px 2px 0px #000000, 0 0 0 0px #000000;
}
